<Files ~ "\.(htm|html|css|js|php)$">
  AddDefaultCharset UTF-8
</Files>

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<Files config.php>
  order allow,deny
  deny from all
</Files>